html,
body{
    width: 500px;
    min-height: 250px;
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5 !important;
    color: #666
}
*{
    box-sizing: border-box;
}
.wrapper{
    margin: 10px;
    line-height: 30px;
}
.wrapper .header{

    /* width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    color: #aaa;
    text-align: left; */
}
.wrapper img {
    height: 30px;
    float: left
}
.wrapper .title{
    font-size: 18px;
    font-weight: bold;
    color: #1a1a1a;
}
.wrapper span {
    /*text-transform: capitalize;*/
    margin-left: 5px;
}
.wrapper button {
    background-color: #8200ff;
    border:none;
    color: #eee 
    /* margin: 10px 0;
    text-transform: capitalize;
    width: 280px;
    height: 2em;
    border-radius: 4px;
    border: none;
    font-size: inherit; */
}
.wrapper button:hover,
.wrapper button:focus {
    background-color: #b08eff;
    color: white;
    cursor: pointer
}

.wrapper .section{
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid #ccc;
    /* display: flex;
    justify-content: space-between; */
}

.wrapper .innerul{
    margin: 0 15px;
    padding: 0
}

.wrapper .innerul li{
    text-transform: capitalize
}

.wrapper .hint{
    font-size: 12px;
    color: #aaa;
    line-height: 12px;
    margin-top: 10px;
}

.wrapper #ncBtnGroup span{
    display: inline-block;
    font-size: 10px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #eee;
    border-radius: 10px

}

.wrapper #jobUnavailable{
    display: none
}

.wrapper #moreAboutCompany{
    float: right;
    margin: 10px;
    color: #aaa 
}
.wrapper #moreAboutCompany:hover{
    color: #777;
    cursor: pointer
}

.wrapper #signinBox{
    position: absolute;
    left: 0;
    top: 39px;
    height: calc(100% - 35px);
    width: 100%;
    background-color: #f5f5f5;
}

.wrapper #balance{
    font-size: 28px;
    color: #8200ff;
    margin: 0 10px 0 0;
}