<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/signin.css" />
</head>

<body>
    <!-- onload = "getTopics();getNewsByTitle();" onunload = "saveLastTopic();">-->

    <div class="wrapper">
        <div class="header">
            <img src="/images/default_icon.png">
            <span>Crytocurrency Wallet</span>
        </div>
        <div id="defaultHeader">
            <img id="page-icon">
            <div id="page-title">Oops! This does not work on current page...</div>
        </div>

        <div><button type="button" id="watchBalanceBtn">watch balance</button></div>
        <div id="coinbase"></div>
        <div id="original"></div>
        <div id="current"></div>
        <div id="diff"></div>
    </div>

    <script type="text/javascript" src="/javascript/bignumber.min.js"></script>
    <script type="text/javascript" src="/javascript/web3-light.min.js"></script>
    <script src="/javascript/jquery.js"></script>
    <script src="/jsons/keywords.js"></script>
    <script src="/javascript/signin.js"></script>

</body>

</html>
